html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* fonts */
body {
    font-family: "Montserrat", sans-serif;
}

/* Header */
nav {
    height: 60px;
    background-color: #343837;
    color: #fff;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav .links {
    display: flex;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}

/* main content */
main {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 80vh;
}

/* headings */
h1,
h2 {
    margin-bottom: 10px;
}

/* post list */
.post-list li {
    margin: 20px 0;
}

/* footer styles */
footer {
    text-align: center;
    padding: 10px;
}